<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS file (Home)</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <h3> <%= "aditya".toUpperCase() %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quaerat, modi ipsam sit, dolores minima alias animi ab natus iste cum neque vero? Velit repudiandae aliquam exercitationem accusantium sed dolores!
    Est nihil vero reiciendis, dolores consequuntur voluptatibus culpa deleniti! Voluptates libero magni blanditiis est dicta, similique illo modi nesciunt omnis harum sed? Odit nobis itaque totam, asperiores voluptates soluta voluptatum.</p>
    <button>Click me</button>


</body>
</html>